body {
    background: #1A1A1A;
    color: #F2F2F2;
    /* display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 0.5fr 4fr 0.5fr;
    grid-template-areas: "nav   header  marge_right"
    "nav    title   marge_right"
    "nav     container   marge_right"
    "nav    arrow_down  marge_right"; */
    min-height: 100vh;
}

header {
    grid-area: header;
}

.title {
    grid-area: title;
}

.marge_right {
    grid-area: marge_right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0px 40px 40px;
    text-align: center;
}


.container {
    grid-area: container;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow_down {
    grid-area: arrow_down;
    display: flex;
    justify-content: center;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav h1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 40px 40px 40px 0px;

}