/* ------ GRID ------ */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 40px;
}

nav .display {
    display: none;
}

nav h1 {
    margin: 40px 40px 40px 0px;
}

.marge_right {
    text-align: center;
    position: fixed;
    top: 50%;
    right: 40px;
}

.main-container {
    margin: 50px 120px 0 120px;
}

.ham {
    display: none;
}

/* ------ TITLE ------ */
.title {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #F2F2F2;
    margin-bottom: 20px;
}


/* ------ CONTAINER ------ */

.container {
    grid-area: container;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section_about {
    display: flex;
    justify-content: flex-start;
}


img {
    grid-area: img_about;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
}

.text_about {
    grid-area: text_about;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: auto;
    margin-left: 50px;
}

.arrow_down {
    grid-area: arrow_down;
    display: flex;
    justify-content: center;
}

.arrow_down.active {
    color: #8B6A1B;
}

.arrow_down:hover {
    color: #8B6A1B;
}


.section_steps {
    display: none;
}


.container2 {
    grid-area: container;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.first_step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.first_step .title_step {
    display: flex;
    justify-content: center;
    text-align: center;
}

.first_step .img_step {
    display: flex;
    justify-content: center;
}

.first_step .text_step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}


.second_step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.second_step .title_step {
    display: flex;
    justify-content: center;
    text-align: center;
}

.second_step .img_step {
    display: flex;
    justify-content: center;
}

.second_step .text_step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}


.third_step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.third_step .title_step {
    display: flex;
    justify-content: center;
    text-align: center;
}

.third_step .img_step {
    display: flex;
    justify-content: center;
}

.third_step .text_step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}


.section_steps .fas {
    color: #8B6A1B;
    font-size: 200px;
    margin: 50px auto;
}

.hr_sections {
    display: none;
}




/*RESPONSIVE*/

@media screen and (min-width: 200px) and (max-width: 1020px) {
    h1 {
        font-size: 3em;
    }

    .title {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border-bottom: solid 1px #F2F2F2;
        margin-bottom: 20px;
    }

    .container-right {
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .container-right .item {
        margin: 0 0 0 15px;
    }

    .container-right .first.item {
        margin: 0 !important;
    }

    .marge_right {
        display: none;
    }

    .arrow_down {
        display: none;
    }

    .hr_sections {
        display: block;
        margin-top: 50px;
    }

    .text_about {
        margin: 20px;
    }

    .section_about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img {
        width: 50%;
    }

    .section_steps {
        display: block;
    }

    .container2 {
        grid-area: container;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .text_step p {
        font-size: 2em;
    }

    .text_step  b {
        font-size: 1em;
    }



    .first_step {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .first_step .text_step {
        padding: 10px;
    }

    .second_step {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .second_step .text_step {
        padding: 10px;
    }


    .third_step {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .third_step .text_step {
        padding: 10px;
    }




    .section_steps .fas {
        font-size: 150px;
        margin: 30px auto;
    }



    /* MENU */
    header {
        position: relative;
        margin: 0;
        padding: 0;
    }

    nav {
        display: none;
        flex-direction: initial;
        justify-content: normal;
        position: initial;
        top: auto;
        bottom: auto;
        left: auto;
        text-align: center;
        margin-top: 150px;
    }

    nav h1 {
        margin: 40px 0 40px 0;
    }

    nav .display {
        display: initial;
    }

    .ham {
        display: block;
        position: absolute;
        margin-top: -20px;
        margin-left: 50px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hamRotate.active {
        transform: rotate(45deg);
    }
    .hamRotate180.active {
        transform: rotate(180deg);
    }
    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #8B6A1B;
        stroke-width: 5.5;
        stroke-linecap: round;
    }
    .ham3 .top {
        stroke-dasharray: 40 130;
    }
    .ham3 .middle {
        stroke-dasharray: 40 140;
    }
    .ham3 .bottom {
        stroke-dasharray: 40 205;
    }
    .ham3.active .top {
        stroke-dasharray: 75 130;
        stroke-dashoffset: -63px;
    }
    .ham3.active .middle {
        stroke-dashoffset: -102px;
    }
    .ham3.active .bottom {
        stroke-dasharray: 110 205;
        stroke-dashoffset: -86px;
    }



}
