@import url('https://fonts.googleapis.com/css?family=Boogaloo|Roboto:400,700&display=swap');



* {
    margin: 0;
    padding: 0;
}

a {
    color: #F2F2F2;
    text-decoration: none;
}

a.active {
    color: #8B6A1B;
}

a:hover {
    color: #8B6A1B;
}

b {
    font-family: 'Roboto';
    font-size: 16px;
}

h1 {
    font-family: 'Boogaloo', cursive;
    font-size: 50px;
    text-transform: uppercase;
    /* margin: 35px 0 20px 0;
    border-bottom: solid 1px; */
}

h2 {
    font-family: 'Boogaloo';
    font-size: 40px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
}

p {
    font-family: 'Roboto';
    font-size: 16px;
}

img.logo {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
}

body {
    background: #1A1A1A;
    color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
            "nav   header  marge_right"
            "nav     container   marge_right";
    min-height: 100vh;
}

header {
    grid-area: header;
}

.marge_right {
    grid-area: marge_right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0px 40px 40px;
    text-align: center;
}


.container {
    /*margin : auto 175px;*/
    grid-area: container;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav h1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 40px 40px 40px 0px;

}




